@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #E1E1E1;
}

.navbar-brand img{
    height: 6vh;
}

:root{
    --offcanvas-width: 220px;
    --topNavbarHeight: 7%; 
}
.sidenavbar{
    width: var(--offcanvas-width);
}
ul#menus{
    margin-top: 1rem;
}

@media screen and (min-width: 992px){
    body{
        overflow: auto !important;
    }
    .sidenavbar{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    ul#menus{
        margin-top: 2rem;
    }
    main{
        margin-top: var(--topNavbarHeight);
        margin-left: var(--offcanvas-width);  
    }
}

.card{
    border-radius: 10px;
}

.lamesa{    
    flex-wrap: wrap;
}
#overview_wrapper{
    width: 100%;
    padding-inline: 1rem;
}