@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/* font-family: 'Paytone One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: 'Archivo Black', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

.navbar {
    padding-block: 0.8rem;
    margin-bottom: .5rem;
    background-color: transparent;
}

    .navbar-expand-md .navbar-collapse{
        margin-right: 1rem;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        width: 6.5rem;
        display: flex;
        justify-content: center;
        --color: #FFEE7D;
        position: relative;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        transition: color .5s;
        z-index: 1;
        color: black;
        background-color: transparent;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }
    
    .nav-link:hover {
        color: #fff;
    }
    
    .nav-link:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }
    
    .nav-link:hover:before {
        top: -30px;
        left: -30px;
    }
    
    .nav-link:active:before {
        background: #3a0ca3;
    }


a.navbar-brand{
    padding: 0;
    margin-inline-start: 5px;
    margin-block-start: 5px;
}

    a.navbar-brand img, svg{
        height: 40px;
        width: 165px;
        padding: 0;
}

.nav-item button.login-btn{
    background-color: #7DDFFF;
    --color: #FFEE7D;
    display: flex;
    justify-content: center;
    width: 7rem;
    margin-inline-start: 5rem;
    margin-inline-end: 1rem;
    padding: 8px 30px;
    position: relative;
    overflow: hidden;
    border: none;
    transition: color .5s;
    z-index: 1;
    border-radius: 10px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

    .nav-item button.login-btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }
    
    .nav-item button.login-btn:hover {
        color: black;
    }
    
    .nav-item button.login-btn:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }
    
    .nav-item button.login-btn:hover:before {
        top: -30px;
        left: -30px;
    }

section#banner{
    margin-block: 2.5rem;
}
.banner-text, .banner-text .narratives,
.banner-text .particulars{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
    margin-left: 1.5rem;
}

    p, h4{
        margin: 0;
        padding: 0;
    }

    .banner-text p{
        margin-bottom: -2rem;
    }

    .spOne, .spTwo{
        font-size: 10rem;
        font-weight: bolder;
    }

    .banner-text span.spOne{
        color: #FFEE7D;
    }

    .banner-text span.spTwo{
        color: #7DDFFF;
    }

    .banner-text h4{
        font-size: 4rem;
        font-weight: 300;
        margin-top: -0.3rem;
    }

    .banner-text .narratives{
        margin-bottom: 1rem;
    }

    .banner-text button.login-btn-2{
        background-color: #7DDFFF;
        --color: #FFEE7D;
        display: flex;
        justify-content: center;
        width: 7rem;
        padding: 8px 30px;
        position: relative;
        overflow: hidden;
        border: none;
        transition: color .5s;
        z-index: 1;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        color: black;
        margin-left: 1.5rem;
        cursor: pointer;
    }

    .banner-text button.login-btn-2:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }
    
    .banner-text button.login-btn-2:hover {
        color: black;
    }
    
    .banner-text button.login-btn-2:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }
    
    .banner-text button.login-btn-2:hover:before {
        top: -30px;
        left: -30px;
    }

    div.clay-1{
        display: flex;
        border: none;
        z-index: -1;
        margin-top: -28rem;
        justify-content: flex-start;
        padding: 0;
        /* border: 2px solid red; */
    }

    div.clay-2{
        display: flex;
        border: none;
        z-index: -1;
        margin-top: -29rem;
        justify-content: flex-end;
        padding: 0;
        /* border: 2px solid red; */
    }

section#medihive-sec{
    display: flex;
    align-items: center;
    width: auto;
    min-height: 25rem;
    background-color: #f1f1f1;
    color: #000000;
    padding: 1.5rem;
}

    div.medihive-desc p{
        font-size: 2rem;
        /* padding: 2.1rem; */
        text-align: center;
        display: flex;
    }

.subject h1{
    padding-block: 1.5rem;
    /* padding-block-end: .5rem; */
    font-size: 2.5rem;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 0;
}


section#testimonies{
    /* border: 2px solid red; */
    display: flex;
    min-height: 25rem;
    padding: 1rem;
}
    #T-subj h1{
        padding: 0;
        font-size: 6rem;
        font-weight: 500;
        font-family: 'Archivo Black', sans-serif;
        margin-bottom: 0;
        writing-mode: vertical-rl;
        /*text-orientation: sideways;*/
        transform:scale(-1);
    }
    div.ttmns-1{
        display: flex;
        flex-wrap: wrap;
    }
    div.ttmns-2{
        display: flex;
        flex-wrap: wrap;
        margin-block-end: 2.5rem;
    }

    div.feedback-1 p,
    div.feedback-2 p{
        font-size: 1.6rem;
        text-align: justify;
    }


    div.feedback-1, div.feedback-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
    }

    div.feedback-1{
        align-items: flex-start;
        margin-left: 1.5rem;
    }
    div.feedback-2{
        align-items: flex-end;
        margin-right: 1.5rem;
    }


    div.profile-1 img{
        max-height: 800px;
        /* border-radius: 1rem; */
        border-top-left-radius: 4em;
        border-top-right-radius: 8em;
        border-bottom-left-radius: 8em;
        border-bottom-right-radius: 4em;
    }

    div.profile-2 img{
        max-height: 800px;
        border-top-left-radius: 8em;
        border-top-right-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 8em;
    }

    p#witness{
        /* text-align: center; */
        padding-block: 1rem;
    }


hr:not([size]){
    height: 1px;
    max-width: 80rem;
    border-width:0;
    color:#4c4c4c;
    background-color:#4c4c4c;
    margin-inline: auto;
}

section#VMG{
    background-color: #f1f1f1;
    height: auto;
}
    div.vmg-sec{
        display: flex;
        flex-direction: column;
    }

    div.vmg-1{
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    div.vmg-2{
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-block-end: 2rem;
    }

    section#VMG .subject h1{
        font-size: 3.5rem;
        padding: 1rem;
    }

    div.vision-text, div.mission-text{
        display: flex;
        justify-content: center;
    }

    div.vision-text p, div.mission-text p{
        text-align: center;
        max-width: 45rem;
        font-size: 1.5rem;
    }

section#medihive-team{
    min-height: 38rem;
}
#MT-subj h1{
    padding-block-start: 2.5rem;
    padding-block-end: 1.5rem;
    /* padding-block-end: .5rem; */
    font-size: 2.5rem;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 0;
}

p.mh-name{
    font-size: 2rem;
    padding-block: .25rem;
}

div.mh-team{
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
}

div.polaroid img{
    padding: 0;
    border-radius: 20px 20px 0 0;
    
}

div.polaroid {
    max-width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    padding: 0;
    border-radius: 20px;
}
    div.polaroi.container {
        text-align: center;
        padding: 10px 20px;
      }

section#medihive-timeline{
    /* border: 2px solid red; */
    display: flex;
    min-height: 25rem;
    padding: 1.5rem;
    background-color: #fbfbfb;
}
    #TL-subj h1{
        padding-block-start: 1.5rem;
        padding-block-end: 3rem;
        font-size: 2.5rem;
        font-family: 'Archivo Black', sans-serif;
        margin: 0;
    }

    div.tmln-row{
        padding: .8rem;
        margin-bottom: 1rem;
    }

    div.milestone, .milestone p{
        font-size: 1.6rem;
        margin-block: auto;
        padding: 1rem;
    }

    .milestone p:hover{
        font-size: 1.8rem;
        font-weight: 600;
        transition: 0.1s;
    }

    div.milestone:nth-child(1){
        text-align: center;
    }   

    div.milestone:nth-child(2){
        text-align: center;
    }

    div.tmln-row .tmln-pic img{
        min-height: 300px;
        border-radius: 25px;
        transition: 0.2s;
    }
    div.tmln-row .tmln-pic img:hover{
        opacity: 0.8;
    }

    div.tmln-row .tmln-pic{
        padding: 0;
    }

#partners .container{
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}
    div.subject#P-subj h1{
        padding-block: 2rem;
        font-size: 2.5rem;
        font-family: 'Archivo Black', sans-serif;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    div.partner-list{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }
    #partner-list-2{
        margin-bottom: 2rem;
    }
        div.p-card img{
            max-width: 120px;
            min-height: 120px;
            margin-inline: auto;
        }
        
        .p-card{
            width: 189px;
            height: 189px;
            background-image: linear-gradient(130deg, #FFEE7D 50%, #7DDFFF 50%);
            border-radius: 10rem;
            transition: all .3s;
            border: none;
        }
        
        .card2 {
            width: 190px;
            height: 190px;
            background-color: #fff;
            border-radius:10rem;
            transition: all .2s;
            border: none;
            display: flex;
            
        }
        
        .card2:hover {
            transform: scale(0.93);
            border-radius: 10rem;
        }
        
        .p-card:hover {
            box-shadow: 15px 15px 30px 5px #7DDFFF, -15px -15px 30px 4px #FFEE7D;
        }
        
hr#line-footer{
    height: 1px;
    max-width: 70rem;
    border-width: 0;
    color: black;
    background-color: black;
    margin-inline: auto;
}

ul, li{
    list-style: none;
    padding-left: 0;
}

footer{
    min-height: 25rem;
    padding: 2rem;
    background-color: #1bb4e7;
}
    footer h2{
        font-weight: bold;
        color: #fff;
    }

    footer a{
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        line-height: 2rem;  
    }

    footer p{
        font-size: 1.1rem;
        line-height: 2rem;
        color: #fff;
    }

    footer p.title{
        font-weight: bold;
        font-size: 1.3rem;
    }

    strong{
        color: #fff;
    }

    div.partition-1 .logo{
        display: flex;
        flex-direction: column;
    }

    div.partition-1 .logo .image-1{
        max-height: 170px;
        margin-bottom: .5rem;
    }

    .wrapper {
        display: inline-flex;
        list-style: none;
        width: 100%;
        padding-left: 0;
        font-family: "Poppins", sans-serif;
        justify-content: center;
    }
    
    .wrapper .icon {
        position: relative;
        border-radius: 50%;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: #fff;
        color: #fff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #fff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
        background: #1877F2;
        color: #fff;
    }
    
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
        background: #1DA1F2;
        color: #fff;
    }
    
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
        background: #E4405F;
        color: #fff;
    }

    .wrapper .email:hover .tooltip,
    .wrapper .email:hover .tooltip::before {
        background: #B23121;
        color: #fff;
    }

    .wrapper .pinterest:hover .tooltip,
    .wrapper .pinterest:hover .tooltip::before {
        background: #BD081C;
        color: #fff;
    }
    
    .wrapper .facebook{
        background-image: url("../img/Contacts/facebook.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .wrapper .twitter{
        background-image: url("../img/Contacts/twitter.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .wrapper .instagram{
        background-image: url("../img/Contacts/instagram.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .wrapper .email{
        background-image: url("../img/Contacts/email.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .wrapper .pinterest{
        background-image: url("../img/Contacts/pinterest.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }




@media screen and (max-width: 320px){
    .navbar-expand-md .navbar-nav .nav-link {
        width: 6rem;
        padding: 6px;
        font-size: 1rem;
        justify-content: space-around;
        margin-bottom: 0.5rem;
    }

    ul.navbar-nav{
        margin-top: 1.2rem;
        flex-direction: row;
    }

    button.login-btn{
        display: none;
    }
    
    div.narratives .spOne, .spTwo{
        font-size: 4rem;

    }

    div.narratives h4{
        font-size: 1.5rem;
    }

    .banner-text p{
        margin-bottom: -1rem;
    }

    div.clay-1, div.clay-2{
        display: none;
    }

    section#medihive-sec{
        margin-top: 0;
        padding: 0;
        min-height: 14rem;
    }

    div.medihive-desc p{
        font-size: 1rem;
        padding: 1rem;
    }
    
    .subject h1{
        font-size: 1.5rem;
        padding-block-start: .5rem;
        padding-block-end: 1.5;
    }

    div.ttmns-1{
        flex-direction: column;
        padding: 0;
    }
    div.ttmns-2{
        flex-direction: column-reverse;
        padding: 0;
    }

    div.feedback-1, div.feedback-2{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        align-items: center;
    }
    div.feedback-1 p, div.feedback-2 p{
        font-size: 1rem;
        padding-block: 1rem;
    }
    p#witness{
        padding-top: 0;
        padding-bottom: 2rem;
        font-size: 0.9rem;
    }

    div.profile-1 img, div.profile-2 img{
        border-radius: 1em;
    }

    section#testimonies{
        max-height: 1060px;
    }
    div.testimony{
        padding: 0;
    }

    div.partner-list{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .navbar-nav .mb-2{
        margin-bottom: 0;
    }

}
