@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/* font-family: 'Paytone One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: 'Archivo Black', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section.container-bg{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
}


.my-container{
    min-height: 36rem;
    min-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    border-radius: 3.5rem;
    box-shadow: 8px 8px 15px 0 #7DDFFF, -8px -8px 15px 0 #FFEE7D;
}
.v-line{
    padding: 0;
    border-left: 2px solid rgb(206, 204, 204);
    height: 500px;
    /* position: absolute; */
}
span.h-line{
    font-size: 1.2rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
}
.login-title{
    display: flex;
}
.login-title h1{
    font-size: 3rem;
}

.first-column {
    width: 27.4rem;
    height: auto;
    padding: 3rem;
}

.first-column .icon-logo-1 img{
    display: block;
    width: 100%;
    max-height: 16rem;
}
.first-column .icon-logo-2 img{
    display: block;
    width: 100%;  
    max-height: 5rem;
    margin-block-start: 15px;
    margin-block-end: -12px;
}
.first-column .motto h2{
    text-align: center;
    font-size: 1.8rem;
}

.sec-column{
    min-width: 27.4rem;
    min-height: 30rem;
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec-column form, form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: .2rem;
}
div.genderc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
div.namesfl{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
div.fname{
    padding-right: 6px;
    max-width: 100%;
}
div.lname{
    padding-left: 6px;
    max-width: 100%
}

label{
    width: 100%;
    padding-block: 1px;
    padding-inline: 18px;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 7px 18px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

button.login-btn-2{
    border: none;
    color: black;
    /* background-image: linear-gradient(50deg, #7DDFFF, #FFEE7D); */
    background-color: #7DDFFF;
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
    cursor: pointer;
}

button.login-btn-2:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    color: black;
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #7DDFFF;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

.sec-column p, a{
    text-align: center;
    color: #0073FA;
    /* text-decoration: none; */
}

/* Media queries */

@media screen and (max-width: 320px){

    .my-container{
        max-height: fit-content;
        max-width: fit-content;
        box-shadow: none;
        overflow: hidden;
    }
    
    .first-column{
        border: none;
        padding-inline-start: 2rem;
    }

    .first-column .icon-logo-1 img{
        
    }

    .first-column .icon-logo-2 img{
        max-height: 4rem;
        max-width: 27.375rem;
        margin: 0;
    }

    .first-column .motto h2{
        display: none;
    }

    .sec-column{
        max-width: fit-content;
    }

    label{
        padding-inline: 8px;
    }
    input[type=text], input[type=password]{
        padding: 7px 8px;
    }
}